# chatwoot信息
CHATWOOT_BASE_URL=https://example.com/
CHATWOOT_API_ACCESS_TOKEN=your_access_token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token

# PostgreSQL 连接配置
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bc_agent

# lark_bot
LARK_BOT_WEBHOOK_URL=https://open.larksuite.com/open-apis/bot/v2/hook/your_hook_uuid


# chatwoot的accounts_id和inbox_id
accounts_id_list = [
    {
        "accounts_id": 1,
        "inbox_id": 5
    }
]

# agent_url
agent_url = https://agent.example.com
agent = test_agent
agent_endpoint = /runs/stream
